{% extends 'navbar.html' %}
{% block title %}
<title>LeaderBoard</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}

{% block body %}
<div class="w3-container">

<h2 class="content">Points Table {{count1}} {{count2}}</h2>
<div class="w3-responsive">
<table class="w3-table-all w3-card-4">
<tr>
	  <th>Rollno</th>
  <th>Name</th>
  <th>Phone</th>
  <th>Answer</th>
  <th>Time</th>
</tr>
{% for u in users %}
<tr>
  <td>{{u.rollno}}</td>
  <td>{{u.name}}</td>
  <td>{{u.phone}}</td>
  <td>{{u.ans}}</td>
  <td>{{u.hour}}:{{u.min}}:{{u.sec}}</td>
</tr>
{% endfor %}
</table>
</div>
<a class="button" href="/play">Start playing</a>
{% endblock %}