{% extends 'navbar.html' %}
{% block title %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="css/levelgrid.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<script>
window.onload = function(){
var k = document.getElementById("2");
		{% for ques in questions %}
		{% if ques.status == 4 %}
			k = document.getElementById("{{ques.qid}}");
			k.innerHTML = "<strike>" + k.innerHTML + "</strike>";
			console.log(k);
		{% endif %}
		{% if ques.status <= 2 && ques.qid != 0 %}
			k = document.getElementById("{{ques.qid}}");
			k.style.color = '#ffffff' ;
		{% endif %}
		{% endfor %}
};
</script>
{% endblock %}


{% block body %}
<p class="content">வினாப்பட்டியல்</p>
<div class="w3-row row1">
<div class="w3-col lt  column1"><a id="1" href="/ques?qid=1">1</a></div>
<div class="w3-col lt column1"><a id="2" href="/ques?qid=2">2</a></div>
<div class="w3-col lt  column1"><a id="3" href="/ques?qid=3">3</a></div>
<div class="w3-col lt column1"><a id="4" href="/ques?qid=4">4</a></div>
<div class="w3-col lt column1"><a id="5" href="/ques?qid=5">5</a></div>
<div class="w3-col lt column1"><a id="6" href="/ques?qid=6">6</a></div>
<div class="w3-col lt  column1"><a id="7" href="/ques?qid=7">7</a></div>
<div class="w3-col lt  column1"><a id="8" href="/ques?qid=8">8</a></div>
<div class="w3-col lt  column1"><a id="9" href="/ques?qid=9">9</a></div>
<div class="w3-col lt  column1"><a id="10" href="/ques?qid=10">10</a></div>
<div class="w3-col lt column1"><a id="11" href="/ques?qid=11">11</a></div>
<div class="w3-col lt column1"><a id="12" href="/ques?qid=12">12</a></div>
<div class="w3-col lt column1"><a id="13" href="/ques?qid=13">13</a></div>
<div class="w3-col lt  column1"><a id="14" href="/ques?qid=14">14</a></div>
<div class="w3-col lt  column1"><a id="15" href="/ques?qid=15">15</a></div>
</div>
<center><a href="/" class="button">Home</a></center>
{% endblock %}