{% extends 'navbar.html' %}
{% block title %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}

{% block body %}
<p class="content">{{message}}</p>
<center><a href="/" class="button">Home</a></center>
{% endblock %}