{% extends 'navbar.html' %}

{% block  title %}
	<link rel="stylesheet" href="/css/image.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<script>
		{% if message %}
		window.onload = function(){
			alert("{{message}}");
		}
		{% endif %}
		function sendans(){
			var ans = document.getElementById("answer");
			var args = "?ans=" + ans.value + "&qid=" + "{{question.qid}}";
			if(ans.value == "")
				alert("please enter some answer");
			else
				location.href = "/checkans" + args;
		}
	</script>
{% endblock %}

{% block body %}
{% if question.status == 1 %}
<p class="content">சரியானத்  தருணத்தில் வருவேன்</p><br>
<center><a class="button" href="/">Home</a></center>
{% endif %}
  <div class="w3-display-container">
  	{% if question.status != 1 %}
   <img src="/img?qid={{question.qid}}" class="w3-border image" alt="Norway">
   {% endif %}
</div>
<br>
{% if question.status == 2 %}
 <center> <textarea id="answer" placeholder="உங்கள் பதில்"></textarea> </center>
 <br>
  <center><button class="button1" onclick="sendans()"> பதில் அளி</button></center>
 {% endif %}

 {% if question.status == 4 %}
 <center><p class="content">விடை : {{question.answer}}</p></center>
 {% endif %}
{% if link == "2016103515" %}
<form action="/putstatus" method="post">
	<input type="radio" name="status" value=1>No question</input>
	<input type="radio" name="status" value=2>Question with accepting answer</input>
	<input type="radio" name="status" value=3>Question not accepting answer</input>
	<input type="radio" name="status" value=4>Question showing answer</input>
	<input type="hidden" name="qid" value="{{question.qid}}"></input>
	<button type="submit">Change</button>
</form>
	
{% endif %}
{% endblock %}