{% extends 'navbar.html' %}

{% block  title %}


	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<link rel="stylesheet" href="/css/sign.css" type="text/css">
{% endblock %}

{% block body %}		
<div class="testbox">
  <h1>உங்கள் விவரங்கள்</h1>
     <p>{{message}}</p>
  <form action="/signup" method="post">
  <label id="icon" for="rollno"><i class="fa fa-hashtag" aria-hidden="true"></i></label>
  <input class="in" type="number" name="rollno" id="rollno" value={{rollno}} placeholder="பதிவு எண்(Rollno)" required/>
  <label id="icon" for="name"><i class="fa fa-user" aria-hidden="true"></i></label>
  <input class="in" type="text" name="name" id="name" placeholder="பெயர்" />
  <label id="icon" for="phone"><i class="fa fa-phone fa-flip-horizontal" aria-hidden="true"></i></label>
  <input class="in" type="phone" name="phone" id="phone" placeholder="கைப்பேசி எண்" />
   <button type="submit" class="button">Register</button>
  </form>
</div>
{% endblock %}