


.row1 {
  margin:0px 50px 0px 50px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex : 20%;
  max-width: 20%;
  padding: 0 4px;
  height: 30%;
}

.column1 a {
  margin-top: 8px;
  font-size: 72px;
  font-style: 'Open-Sans';
  vertical-align: middle;
  text-align:  center;
   color: #373F27;

}

.column1{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: solid;
  border-width: 0.3px;
    transition: 0.3s;
    width:100%;
    margin: 0.5px 0.5px 0.5px 0.5px;
    max-width: 100%;
    vertical-align: middle;
      text-align:  center;
      height: 20%;
     

}


/* Responsive layout - makes a two column-layout instead of four columns */


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (min-width: 601px) {
  .lt {
    max-width:19.5%;
    width: 19.5%;
  }
}

@media screen and (max-width: 601px){
  .lt { 
      max-width:33%;
      width: 33%;
   }
}
